.center-text{
    text-align: center;
}

.container{
    max-width: 800px;
    margin: auto;
}

.container2{
    max-width: 820px;
    margin: auto;
}

.border{
    border: solid palevioletred;
    border-radius: 15px;
    padding-bottom: 25px;
}

button{
    display: block;
    margin: auto;
    border: 2px solid palevioletred;
    border-radius: 8px;
}

body {
    background-color: rgb(232, 232, 232);
}